*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/core/src
/domain/src/commonMain/kotlin/hu/benefanlabs/moviebudgets/domain/FlowUseCase.kt
/domain/src/commonMain/kotlin/hu/benefanlabs/moviebudgets/domain/UseCase.kt
/domain/src/commonMain/kotlin/hu/benefanlabs/moviebudgets/domain/UseCaseResult.kt
/androidApp/google-services.json
/androidApp/keystore